pytz
feedgen
requests
edge-tts
pillow
opencc-python-reimplemented
pytesseract
b2sdk
boto3
beautifulsoup4
python-dateutil
lxml
opencv-python==4.7.0.72
numpy==1.23.5
paddleocr==2.7.0.3
paddlepaddle==2.5.0